<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
      <li>add more...</li>
      <li>This more added by me </li>
      <li>this another change</li>
      <li>this is yet another change</li>
    </ul>
  </body>
</html>